{% extends "base.html" %}
{% block title %}Change Password{% endblock %}
{% block content %}
<h1>Change Password</h1>
<form method="POST" novalidate>
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">

    <!-- Section for password -->
    <div class="mb-3">
        <label for="current_password">Current password</label><br>
        <input class="form-control" type="password" id="current_password" name="current_password" required>

        {# If there is an error with the password then set to text-danger #}
        {% if errors.current_password %}
            <div class="text-danger">{{ errors.current_password }}</div>
        {% endif %}
    </div>

    <!-- Section for new password -->
    <div class="mb-3">
        <label for="new_password">New password</label><br>
        <input class="form-control" type="password" id="new_password" name="new_password" required>

        {# If there is an error with the new-password then set to text-danger #}
        {% if errors.new_password %}
            <div class="text-danger">{{ errors.new_password }}</div>
        {% endif %}
    </div>

    <!-- Section for button -->
    <div>
        <button type="submit">Change Password</button>
    </div>
</form>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<p class="text-danger">{{ message }}</p>
{% endfor %}
{% endif %}
{% endwith %}
{% endblock %}
